.header{
    text-align: center;
    justify-content: center;
}
.services-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 10px;
}
.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.services-cart{
    background-color: #FAEBD7;
}

@media only screen and (max-width: 600px) {
    .services{
        grid-template-columns: repeat(1, 1fr);
    }
    .services-container{
        grid-template-columns: repeat(1, 1fr);
    }
}